html,body{
	background: url(../img/bk.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover
}
.lineAqua{
	width: 100%;
    border: solid 1px rgb(0 255 255);
    box-shadow: 0 0 2px cyan;
}
nav{
	display: flex;
    justify-content: space-around
}
nav > span {
	color: white;
    padding: 0 9px;
    width: 100%;
}
nav > span > a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
span.menuItem1{
	border-left: solid 1px white;
}
span.menuItem2{
	border-left: solid 1px white;
	border-right: solid 1px white;
}
span.menuItem3{
	border-right: solid 1px white;
}
.slogan{
	font-size: 36px;
    color: rgb(0 255 255);
    text-shadow: 0 0 5px cyan;
	position:absolute;
	bottom:20px;
    padding: 0;
}
.menuItems{
    margin-bottom: 2px;
}
.menuItems > span {
    color: white;
    font-size: 13px;
}
.menuItems > span:first-child:before {
    content: "";
}
.menuItems > span:last-child:after {
    content: "";
}
.menuItems > span:before {
    content: "|";
}
.dateResultsInput {
    width: 125px;
    background: transparent;
    border: solid 1px aqua;
    border-radius: 10px;
    box-shadow: 0 0 5px aqua;
}
.itemResults{
    width: 101px !important;
    height: 101px !important;
	/* transition: 0.5s ease-in-out;
	border-radius: 50%; */
	text-align: center;
	color: white;
     transition: all ease 1500ms;
}
.itemResults {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation: 3s 3 spin;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

/* .itemResults:hover > img {
	background: #00f2ff;
	box-shadow: 0 0 15px #00f2ff;
	border-radius: 50%;
} */
.slick-slider, .slick-track, .slick-list{
	height: 150px;
}
.carouselAnimales{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
}
.itemsResultsDay{
	color: white;
	font-size: 12px;
	text-align: center;
	font-weight: 900;
	margin: 12px 0px;
	padding: 0 5px;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.resultImg{
    width: 101px !important;
    height: 101px !important;
    border: solid 1px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 0px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dateResultsFilter{
	font-size: 12px;
	color: white;
}
article.pronostico > p{
	margin: 0;
    color: white;
	line-height: 16px;
}
p.pronosticoTitle {
    letter-spacing: 4.3px;
}
p.pronosticoAnimalito {
    letter-spacing: 2.45px;
}
p.pronosticoSuerte {
    letter-spacing: 1.2px;
}
.birthday{
	font-size: 8.5px;
    color: white;
}
.pronosticoImgBorder{
	width: 200px;
    height: 200px;
    border: solid 1px white;
    border-radius: 50%;
}
.pronosticosDiv{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.textWarning{
	font-size: 8.5px;
	text-align: justify;
	color: white;
}
.socialNetworkTitle, .resultsText{
	font-size: 25px;
	color: white;
	letter-spacing: 2px;
}
.imgQr{
	display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}
.sectionbtnSN{
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.subsectionQr{
	justify-content: space-around;
	margin:17px 0
}
.sectionbtnSN > img{
	margin: 5px 0;
	width: 100%;
	height: 39px;
}
.topText{
	color: white;
    font-size: 11px;
    text-align: center;
	margin-bottom:10px
}
.bottomText{
	color: white;
    text-align: center;
    font-size: 11px;
	margin:10px 0
}
.downloadCard {
    font-size: 10px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.textRegister {
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.qr-img{
	border: solid 2px aqua;
	border-radius: 10px;
	box-shadow: 0 0 5px aqua;
}
.textWhatsapp{
	color:white;
	font-size: 11px;
}
.slide-arrow {
	position: absolute;
    margin-top: -75px;
    top: 50%;
}

.prev-arrow {
	left: -40px;
}

.next-arrow {
	right: -40px;
}
.section3{
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 15px;
}
.item{
	flex:0 0 30%
}
.borderLine{
	border:solid 1px rgb(4 90 110);;
	box-shadow: 0 0 5px aqua;
	width: 0;
	padding: 0;
	margin: 0;
	border-radius: 20px;
}
.qr > .title {
    margin: 0;
    color: white;
    font-size: 25px;
}
.qr-img{
    border: 3px solid aqua;
    border-radius: 10px;
    box-shadow: 0 0 5px aqua;
	padding: 1px;
}
.titleContact{
	color: rgb(0 255 255);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}
.formInput{
	background: rgb(0 0 0 / 0%);
    border: solid 1.25px rgb(0 255 255);
    border-radius: 10px;
    color: rgb(255 255 255);
}
.formLabel{
	color: rgb(255 255 255);
    letter-spacing: 1px;
}
.form-control:focus {
    color: rgb(255 255 255) !important;
    background-color: rgb(0 0 0 / 0%) !important;
    border-color: rgb(0 255 255) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(5 101 118) !important;
}
.infoContact > i {
    color: rgb(255 255 255);
    font-size: 2rem;
    margin: 0 2px;
}
.infoContact > p > i {
    color: rgb(255 255 255);
    font-size: 2rem;
    margin: 0 2px;
}
.infoContact > span {
    color: rgb(255 255 255);
    font-size: 1.15rem;
    letter-spacing: 0.75px;
}
.infoContact > P > span {
    color: rgb(255 255 255);
    font-size: 1.45rem;
    margin: 0 2px;
}
.infoContact{
	flex:0 0 80%
}
.miniQr{
	flex: 0 0 20%;
}
p.titleRegister {
    font-size: 20px;
    text-align: center;
    color: rgb(255 255 255);
	letter-spacing: 2px;
}
.titleRegister > span.work {
    color: rgb(0 255 255);
    font-weight: 900;
}
.titleRegister > span.us {
    color: rgb(0 255 255);
}
.footer{
	flex:0 0 50%
}
.copyright>p {
    margin: 0;
    color: rgb(255 255 255);
    font-size: 16px;
}

.copyright {
    padding: 25px;
}
.imgFooter {
    display: flex;
    justify-content: start;
    align-items: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .example {background: orange;}
} 