:root{
    --black: rgb(0, 0, 0);
    --line: rgb(255, 255, 1);
}

html,body{
	background: url(../img/bk1.png)center center no-repeat fixed;
    overflow-x: hidden;
    background-size: cover;
}
/* html,body{
	background: url(../img/bkFull.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    overflow-x: hidden;
} */
.lineAqua{
	width: 100%;
	border: solid 1px rgb(255 255 1);
	box-shadow: 0 0 5px black;
}
.lineAqua-responsive {
    width: 100%;
    border: solid 1px var(--black);
    box-shadow: 0 0 2px rgb(255 255 1);
    display: none;
    margin-bottom: 16px;
    margin-top: 8px;
}
nav{
    display: flex;
    justify-content: flex-start;
    position: fixed;
    z-index: 999;
    left: -40px;
    top: -28px;
}
nav > span {
	color: white;
    padding: 0 9px;
    width: 100%;
}
nav > span > a{
	text-decoration: none;
	color: white;
	font-size: 15px;
}
span.menuItem1{
	border-left: solid 1px white;
}
span.menuItem2{
	border-left: solid 1px white;
	border-right: solid 1px white;
}
span.menuItem3{
	border-right: solid 1px white;
}
.slogan {
    font-size: 45px;
    color: #ffff01;
    text-shadow: 0px 4px 3px black;
    position: absolute;
    bottom: 20px;
    padding: 0;
    text-align: right;
}
.menuItems{
    margin-bottom: 2px;
}
.menuItems > span {
    color: white;
    font-size: 13px;
}
.menuItems > span:first-child:before {
    content: "";
}
.menuItems > span:last-child:after {
    content: "";
}
.menuItems > span:before {
    content: "|";
}
.dateResultsInput {
    width: 125px;
    background: transparent;
    border: solid 1px aqua;
    border-radius: 10px;
    box-shadow: 0 0 5px aqua;
}
.itemResults{
    /* width: 101px !important;
    height: 101px !important; */
	text-align: center;
	color: white;
    margin-bottom: 12px;
    /*transition: all ease 1500ms;*/
}
.itemResults > span{
    font-weight: 900;
}
.itemResultsD {
    display: flex;
    flex-direction: column;
    flex: 0 0 25%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    margin: 15px 0;
}
  .img-animate {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    animation: spin 3s 3;
    transition: all ease 1200ms;
    width: 90%;
  }
  .img-fluidAnimals {
      width: 81px;
      margin: auto;
  }
  @keyframes spin {
    0% {
      transform: rotateY(0deg);
    }
    100% {
      transform: rotateY(360deg);
    }
  }

/* .itemResults:hover > img {
	background: #00f2ff;
	box-shadow: 0 0 15px #00f2ff;
	border-radius: 50%;
} */
.slick-slider, .slick-track, .slick-list{
	height: 225px;
}
.carouselAnimales{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: center;
}
.itemsResultsDay {
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: 900;
    margin: 12px 0px;
    padding: 0 5px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.resultImg{
    width: 160px !important;
    height: 160px !important;
    border: solid 1px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 30px;
    margin: 13px 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}
.resultImgD{
    width: 100px !important;
    height: 100px !important;
}
.dateInput {
    border: unset;
    border-radius: 5px;
    background: transparent;
    color: white;
    border-bottom: solid 1px rgb(255, 255, 1);
}
::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
.dateResultsFilter{
	font-size: 12px;
	color: white;
}
article.pronostico > p{
	margin: 0;
	color: white;
	line-height: 16px;
	color: #ffff01;
	text-shadow: 0px 4px 3px black;
}
p.pronosticoTitle {
    letter-spacing: 4.3px;
}
p.pronosticoAnimalito {
    letter-spacing: 2.45px;
}
p.pronosticoSuerte {
    letter-spacing: 1.2px;
}
.birthday{
	font-size: 8.5px;
    color: white;
}
.pronosticoImgBorder{
	width: 200px;
    height: 200px;
    border: solid 1px white;
    border-radius: 50%;
}
.pronosticoImgAnimal{
    width: 300px;
    height: 300px;
    border-radius: 50%;
}
.pronosticosDiv{
	display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
.textWarning{
	font-size: 8.5px;
	text-align: justify;
	color: white;
}
.socialNetworkTitle, .resultsText{
    font-size: 30px;
    color: white;
    letter-spacing: 2px;
    font-weight: 600;
    color: #ffff01;
    text-shadow: 0px 4px 3px black;
}
.imgQr{
	display: flex;
    flex-direction: column;
    flex: 0 0 40%;
}
.sectionbtnSN{
	flex: 0 0 50%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}
.subsectionQr{
	justify-content: space-around;
	margin:17px 0;
    align-items: center !important;
}
.sectionbtnSN > img{
	margin: 5px 0;
	width: 100%;
	height: 39px;
}
.topText{
	color: white;
    font-size: 11px;
    text-align: center;
	margin-bottom:10px
}
.bottomText{
	color: white;
    text-align: center;
    font-size: 11px;
	margin:10px 0
}
.downloadCard {
    font-size: 10px;
    color: white;
    text-align: center;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.textRegister {
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
    letter-spacing: 1px;
}
.qr-img{
	border: solid 2px aqua;
	border-radius: 10px;
	box-shadow: 0 0 5px aqua;
}
.textWhatsapp{
	color:white;
	font-size: 11px;
}
.slide-arrow {
	position: absolute;
	margin-top: -75px;
	top: 50%;
    width: 115px;
}

.prev-arrow {
	left: -95px;
}

.next-arrow {
	right: -95px;
}
.section3{
	flex-flow: row wrap;
	justify-content: space-around;
	margin-top: 15px;
}
.item{
	flex:0 0 30%
}
.item-70{
    flex: 0 0 63%;
}
.Animals{
    width: 65%;
}
.borderLine{
	border:solid 1px var(--line);
	box-shadow: 0 0 5px black;
	width: 0;
	padding: 0;
	margin: 0;
	border-radius: 20px;
}
.qr > .title {
    margin: 0;
    color: white;
    font-size: 25px;
}
.qr-img{
    border: 3px solid var(--line);
    border-radius: 10px;
    box-shadow: 0 0 5px black;
	padding: 1px;
}
.titleContact{
	color: var(--line);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
}
.formInput{
	background: rgb(0 0 0 / 0%);
    border: solid 1.25px var(--black);
    border-radius: 10px;
    color: rgb(255 255 255);
}
.formLabel{
	color: rgb(255 255 255);
    letter-spacing: 1px;
}
.form-control:focus {
    color: rgb(255 255 255) !important;
    background-color: rgb(0 0 0 / 0%) !important;
    border-color: var(--black) !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.25rem rgb(5 101 118) !important;
}
.infoContact > i {
    color: rgb(255 255 255);
    font-size: 2rem;
    margin: 0 2px;
}
.infoContact > p > i {
    color: rgb(255 255 255);
    font-size: 2rem;
    margin: 0 2px;
}
.infoContact > span {
    color: rgb(255 255 255);
    font-size: 1.15rem;
    letter-spacing: 0.75px;
}
.infoContact > P > span {
    color: rgb(255 255 255);
    font-size: 1.45rem;
    margin: 0 2px;
}
.infoContact{
	flex:0 0 75%
}
.miniQr{
	flex: 0 0 20%;
}
p.titleRegister {
    font-size: 20px;
    text-align: center;
    color: rgb(255 255 255);
	letter-spacing: 2px;
}
.titleRegister > span.work {
    color: var(--line);
    font-weight: 900;
}
.titleRegister > span.us {
    color: var(--line);
}
.footer{
	flex:0 0 50%
}
.copyright>p {
    margin: 0;
    color: rgb(255 255 255);
    font-size: 16px;
}
#btn-submit-job{
    width: 100%;
}

.copyright {
    padding: 25px;
}
.imgFooter {
    display: flex;
    justify-content: start;
    align-items: center;
}
.pointer {
    cursor: pointer;
}
.aWhatsapp{
    color: white;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
}
.aWhatsapp:hover{
    color: white;
    font-size: 2em;
    text-decoration: none;
    cursor: pointer;
}
/*Reglamentos*/
.text-rules {
    color: white;
    padding: 16px 8px;
    text-align: justify;
    margin: 14px;
    font-size: 16px;
}
.rules-text-container{
    height: 450px;
    overflow-y: scroll;
}
.rules-text-container::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
.rules-controls{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 19%;
    margin: 21px 70px;
}
  
  .rules-text-container::-webkit-scrollbar-track {
    background: transparent;        /* color of the tracking area */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 1px solid rgb(255 255 1);  /* creates padding around scroll thumb */
    box-shadow: 0 0 2px rgb(255 255 1);
  }
  
  .rules-text-container::-webkit-scrollbar-thumb {
    background-color: rgb(255 255 1);    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid transparent;  /* creates padding around scroll thumb */
  }
.title-rules{
    color: var(--line);
    font-size: 20px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 2px;
    font-size: 12px;
}
.img-qr-large {
    max-width: 84px !important
}

/*Oculta el listado simple de*/
.animalslist1 {
    display: none;
}
.Alarm-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .example {background: red;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .example {background: green;}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .lineAqua-responsive{
        display: block;
    }
} 
/* Large devices (laptops/desktops, 992px and up) */

@media only screen and (max-width: 1024px) {
  .animalslist1 {
    display: none;
  }
  .animalslist2 {
    /*display: block;*/
    width: 90%;
    margin: auto;
  }
  .infoContact {
    flex: 0 0 70%;
  }
  .text-simple {
      font-size: 16px !important;
  }
  section .lineAqua {
    display: none;
    margin-bottom: 16px;
  }
  footer .section {
    padding: 8px;
  }
  .img-responsive {
    max-width: 136px !important;
  }
}
@media (min-width: 1024px) { 
 nav {
     display: none;
 }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1024px) {
  .animalslist1 {
    display: none;
  }/*
  .animalslist2 {
    display: block;
  }*/
  .btn-img-fluid {
    max-width: 258px !important;
  }
}
@media only screen and (max-width: 768px){
    .item {
        flex: 0 0 70%;
    }
    .borderLine {
        display: none;
    }
    section .lineAqua {
        display: block;
    }
    .btn-img-fluid {
        max-width: 378px !important;
    }
    .topText {
        font-size: 13px;
    }
    .textWhatsapp {
        font-size: 13px;
    }
    .textWarning {
        font-size: 13px;
    }
    .title-menu {
        display: none;
    }
    .img-menu {
        text-align: center;
    }
    .text-left,.title {
        text-align: center;
    }
    .resultsText {
        text-align: center;
    }
}
@media only screen and (max-width: 425px){
    .subsectionQr {
        flex-direction: column;
    }
    .footer {
        flex: 0 0 100%;
    }
    .footer-content {
        padding: 12px;
    text-align: center;
    }
    .img-responsive {
        max-width: 160px !important;
    }
    .btn-img-fluid {
        max-width: 258px !important;
    }
    #menu li {
        font-size: 24px !important;
    }
    #menu {
        width: 107vw !important;
    }
    .qr-img {
        width: 60%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 375px){
    .itemResultsD {
        flex: 0 0 50%;
    }
    .topText {
        font-size: 10px;
    }
    .textWhatsapp {
        font-size: 12px;
    }
    .formLabel {
        font-size: 12px;
    }
    .responsive-contentColumn {
        flex-direction: column !important;
    }
    .qr-img {
        width: 57%;
        margin: 0 auto;
    }
    .topText {
        font-size: 16px;
    }
    .img-responsive {
        max-width: 160px !important;
    }
    #menu {
        width: 110vw !important;
    }
    .infoContact {
        flex: 0 0 84%;
    }
}
@media only screen and (max-width: 320px){
    .qr > .title {
        font-size: 20px;
    }
    .imgFooter {
        justify-content: center;
    }
    .footer {
        display: flex !important;
    flex-direction: column;
    }
    .infoContact {
      flex: 0 0 80%;
    }
    .text-simple {
        font-size: 11px !important;
    }

}

/*Estilos para reemplazar imagenes */ 
.custom-btn {
    width: 130px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-5 {
    width: 210px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    background: rgb(255, 255, 1);
    background: linear-gradient(0deg, rgba(255,255,0,1) 0%, rgba(251,255,2,1) 100%);
  }
  .btn-5:hover {
    color: rgb(233, 233, 0);
    background: transparent;
     box-shadow:none;
  }
  .btn-5:before,
  .btn-5:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(233, 233, 0);
    box-shadow:
     -1px -1px 5px 0px #fff,
     7px 7px 20px 0px #0003,
     4px 4px 5px 0px #0002;
    transition:400ms ease all;
  }
  .btn-5:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  .btn-5:hover:before,
  .btn-5:hover:after{
    width:100%;
    transition:800ms ease all;
  }

.btnLuck{
    position: relative;
    width: 100%;
    height: 47px;
}
.reglamento{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: rgb(255, 255, 1);
    font-size: 22px;
}
.btnLuck > img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.btnLuck > img:last-of-type{
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}
.btnLuck:hover > img{
    opacity: 0;
  }
.btnLuck:hover > img:last-of-type {
    opacity: 1;
}
/*Burguer menu*/
#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #f8f9fa;
  text-align: center;
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: Aqua;
}


#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  background: aqua;
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 46px;
  height: 7px; 
  margin-bottom: 5px;
  position: relative;
  
  background: aqua;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: aqua;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(-2px, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
    position: absolute;
    width: 104vw;
    height: 1004vw;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 150px;
    background: url(../img/bk1.png);;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    left: 0;
}

#menu li
{
  padding: 10px 0;
  font-size: 36px;
}
.modal-title{
    color: #ffff01 !important;
    text-shadow: 0 0 5px black !important;
    font-size: 35px !important;
}
/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
}

  .test{
    -webkit-animation: tiembla 0.1s infinite;
  }
  @-webkit-keyframes tiembla{
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
    0%  { -webkit-transform:rotateZ(-5deg); }
    50% { -webkit-transform:rotateZ( 0deg) scale(.8); }
    100%{ -webkit-transform:rotateZ( 5deg); }
  }

 .modal-content {
    background-size: 100% 100%;
    background-image: url(../img/bk1.png);
    color: white
  }
  .btn-close {
      color: aqua !important;
  }
  .text-rules {
    font-size: calc(var(--font-size) * 1em);
  }
  .text-change {
    font-size: calc(var(--font-size) * 1em);
  }
  .text-reglamento {
    color: white;
    text-align: justify;
    /*font-size: 0.9rem !important;*/
    padding: 0 12px;
  }
  .reglamento-subTitle {
    /*font-size: 1.2rem;*/
    color: white;
    text-align: center;
  }
  .reglamento-LastTitle {
    color: white;
    text-align: center;
    /*font-size: 0.9rem;*/
  }
  .subrayado {
      text-decoration: underline;
      font-weight: bold;
  }
  .f0 {
    font-size: 0.8rem;
  }
  .f1 {
    font-size: 0.9rem;
  }
  .f2 {
    font-size: 1rem;
  }
  .f3 {
    font-size: 1.1rem;
  }
  .f4 {
    font-size: 1.2rem;
  }
  .table-rules {
      color: white;
  }
  .table-container {
      padding: 12px;
  }
  .rules-list {
    color: white;
}
.rules-list li {
    /*font-size: 0.9rem;*/
    margin-bottom: 8px;
    text-align: justify;
    padding: 0px 27px;
}